@CHARSET "ISO-8859-1";
/*
	Contains CSS declarations for Zend_Form elements
*/

.zend_form_container {
	border: solid #aaaaaa 1px;
	background: #d6ebff;
	margin-left: 10px;
	margin-right: 10px;	
}

.zend_form {
	margin: 0px 0px 0px 0px;
}	

.zend_form dd {
	margin: 0px 0px 0px 0px;
}

.zend_form dt {

}

.zend_form fieldset {
	border: solid #b6cbdf 1px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.zend_form fieldset.primary {
	/* background: #c2d9eb; */
	border: solid #96abbf 1px;
	background: #e2efff;
	margin-bottom: 15px;
}

.zend_form fieldset.secondary {
	background: #d6ebff;
}

.zend_form fieldset legend {
	font-weight: bold;
}

.zend_form fieldset dl { 	

}

.zend_form fieldset dt { 	
	float: left;
	text-align: right;
	width: 130px;
	line-height: 100%;
	margin-top: 0px;
	margin-bottom: auto;
	padding-top: 2px;
}

.zend_form fieldset dd { 	
	margin-top: 4px; 
	margin-bottom: 4px; 
	margin-left: 135px;
	padding-top: 2px;
	padding-left: 2px;
	background-color: white;
	height: 15px;
}

.zend_form fieldset#buttons {
	border-style: none;
}

.zend_form fieldset#buttons button {
	float: right;
	border: 1px black solid;
	font-family: Osaka,verdana,Sans-Serif;
	font-size: 8pt;
	margin: 3px 3px 3px 3px;
	/*height: 12pt; Select boxes are too small in Mozilla */
}

.zend_form fieldset#buttons input {
	float: right;
	border: 1px black solid;
	font-family: Osaka,verdana,Sans-Serif;
	font-size: 8pt;
	margin: 3px 3px 3px 3px;
	/*height: 12pt; Select boxes are too small in Mozilla */
}


.zend_form fieldset#buttons dt {
	display: none;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

.zend_form fieldset#buttons dd {
	float: none;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

.zend_form fieldset#buttons input.leftalign {
		float: left;
}

.zend_form fieldset#buttons input.rightalign {
	float: right;
}

.zend_form ul.errors {
	list-style-position: outside;
}