@CHARSET "ISO-8859-1";
/*
	Contains CSS declarations for Zend_Form elements
*/

.zend_form_container {
	border: solid #aaaaaa 1px;
	background: #d6ebff;
	margin-left: 10px;
	margin-right: 10px;	
}

.zend_form {
	margin: 0px 0px 0px 0px;
}	

.zend_form dd {
	margin: 0px 0px 0px 0px;
}

.zend_form dt {

}

.zend_form fieldset {
	border: solid #b6cbdf 1px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.zend_form fieldset.primary {
	border: solid #96abbf 1px;
	/* background: #b2c9db; */
	background: #e2efff;
	margin-bottom: 15px;
}

.zend_form fieldset.secondary {
	background: #d6ebff;
}

.zend_form fieldset.fleft {
	width: 0.5em;
	float: left;
}

.zend_form fieldset.fright {
	width: 0.5em;
}

.zend_form fieldset legend {
	font-weight: bold;
}


.zend_form fieldset dl { 	

}

.zend_form fieldset dl dt { 	
	float: left; 
	width: 130px;
	text-align: right;
	line-height: 100%;
	margin-top: 3px;
	margin-bottom: auto;
	padding-top: 2px;
}

.zend_form fieldset dl dd { 	
	float: none; 
	margin-left: 135px; 
	margin-top: 0px; 
	margin-bottom: 0px; 
	padding-top: 2px; 
}

.zend_form_field {
	float: none; 
	margin-left: 135px; 
	margin-top: 0px; 
	margin-bottom: 0px; 
	padding-top: 2px;
}

.zend_form fieldset#buttons {
	border-style: none;
}

.zend_form fieldset#buttons button {
	float: right;
	border: 1px black solid;
	font-family: Osaka,verdana,Sans-Serif;
	font-size: 8pt;
	margin: 3px 3px 3px 3px;
	/*height: 12pt; Select boxes are too small in Mozilla */
}

.zend_form fieldset#buttons input {
	float: right;
	border: 1px black solid;
	font-family: Osaka,verdana,Sans-Serif;
	font-size: 8pt;
	margin: 3px 3px 3px 3px;
	/*height: 12pt; Select boxes are too small in Mozilla */
}


.zend_form fieldset#buttons dt {
	display: none;
	width: 100%;
	margin: 0px 0px 0px 0px;
}

.zend_form fieldset#buttons dd {
	/*width: 100%;*/
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}


.zend_form ul.errors {
	list-style-position: outside;
}