BODY {
	FONT-FAMILY: verdana,Sans-Serif; FONT-SIZE: 10pt;
}
A:link {
	color : BLUE;
	text-decoration: none;
}
A:visited {
	color : BLUE;
	text-decoration: none;
}
A:active {
	color : BLUE;
	text-decoration: none;
}

TD {
	FONT-FAMILY: verdana,Sans-Serif; FONT-SIZE: 8pt
}

TR {
	FONT-FAMILY: verdana,Sans-Serif; FONT-SIZE: 8pt
}
FormButton {
	FONT-FAMILY: Verdana,sans-serif; FONT-SIZE: 9pt; WIDTH: 110px
}

.title {
	font-size: 18pt; size: 18pt;
}
.subtitle {
	font-size: 12pt; size: 12pt;
}

bordertable{
	border: 1px black solid;
}

button{
	border: 1px black solid;
	FONT-FAMILY: verdana,Sans-Serif; FONT-SIZE: 8pt
}

.bordertable{
 border: 1px black solid;
}

.button{
 border: 1px black solid;
 FONT-FAMILY: verdana,Sans-Serif; FONT-SIZE: 8pt;
 width: 100px;
}

.text{
 border: 1px black solid;
 FONT-FAMILY: verdana,Sans-Serif; FONT-SIZE: 8pt;
 height: 20px;
}

/*
**********************************
Begin IE TD buttonizing
**********************************
*/

TD.clsBtnUp {
    cursor: hand;    color: #FFFFFF;    padding: 0 3;    border: inset 2px;
}

TD.clsBtnDown {
    cursor: hand;    color: #FFFFFF;    padding: 0 3;    border: inset 2px;
}

TD.clsBtnOn {
    cursor: hand;    color: #FFFFFF;    padding: 0 3;    border: outset #eeeeee 2px;
}

TD.clsBtnOff {
    color: #FFFFFF;    padding: 0 3;    tab-index: 0;    border: solid #559999 2px;
}

TD.topBtnOff {
    color: #FFFFFF;    padding: 0 3;    tab-index: 0;    border: solid #cccccc 2px;
}
TD.nav {
	color: #FFFFFF;
}

/* Standard table 'spreadsheet' style */
TABLE.tbl {
	background: #ffffff;
}
TABLE.tbl TH {
	background-color: #878676;
	color: white;
	list-style-type: disc;
	list-style-position: inside;
	border: outset #D1D1CD 1px;
	font-weight: normal;
}
TABLE.tbl TD {
	background-color: #f4efe3;
}

TABLE.std {
	border: solid #878676 2px;
	background: #f4efe3;
}
TABLE.std TH {
	background-color: #878676;
	color: white;
	list-style-type: disc;
	list-style-position: inside;
	border: outset #D1D1CD 1px;
}
TD.tabon {
	background: #ffffff;
	border-top: outset #cccccc 2px;
	border-left: outset #cccccc 2px;
	border-right: outset #cccccc 2px;
	border-bottom: none;
}
TD.taboff {
	background: #f4efe3;
	border-top: outset #cccccc 2px;
	border-left: outset #cccccc 2px;
	border-right: outset #cccccc 2px;
	border-bottom: solid #cccccc 2px;
}
TD.tabsp {
	border-bottom: solid #cccccc 2px;
}
TD.tabox {
	border-left: solid #cccccc 2px;
	border-right: solid #cccccc 2px;
	border-bottom: solid #cccccc 2px;
}

.mboxhdr {
   background-color: #878676;
	color: white;
	list-style-type: disc;
	list-style-position: inside;
	border: outset #D1D1CD 1px;
}
.headergr{   background-color: #878676;   color: white;   list-style-type: disc;   list-style-position: inside;border: outset #eeeeee 1px;
}
.newmsg{
   background-color: #dddddd;
}
.graybg{
   background-color: #f4efe3;
}

.textarea{
		FONT-FAMILY: verdana,Sans-Serif;
		FONT-SIZE: 9pt;
}
/* Message styles */
.warning {
	color: #ff6600;
}
.error {
	color: #ff0000;
}
.message {
	color: #006600;
	font-weight: bold;
}

.no_ {
	color: #ff0000;
	font-weight: bold;
}
